# You can find api-key here: https://dashboard.alchemyapi.io
RINKEBY_RPC_URL = "https://eth-rinkeby.alchemyapi.io/v2/<your-api-key>"

PRIVATE_KEY = "your-key"

# Claim your api-key here: https://etherscan.io
ETHERSCAN_API_KEY = "your-api-key"